<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <!--
         INTERNET is required for Flutter development and communication
         with the local Firebase Emulator Suite.
    -->
    <uses-permission android:name="android.permission.INTERNET"/>

    <!--
         Firebase emulators use local HTTP connections.
         This cleartext exception applies only to Android debug builds
         because this manifest lives under src/debug.
    -->
    <application
        android:usesCleartextTraffic="true" />
</manifest>